# Flutter/Dart specific files
flutter_app/.dart_tool
flutter_app/.idea
flutter_app/android
flutter_app/ios
flutter_app/linux
flutter_app/macos
flutter_app/test
flutter_app/web
flutter_app/windows

flutter_app/.gitignore
flutter_app/.metadata
flutter_app/analysis_options.yaml
flutter_app/pubspec.lock
flutter_app/README.md